.city{
  position: absolute;
  top: 15px;
  right: 47%;
  z-index: inherit;
}
.quick-weather-top{
  color: white;
  border-radius: 24% !important;
  min-width: 220px;
  height: 220px;
  padding: 10px 5px 10px 5px;
  margin: auto;
  position: relative;
  background: radial-gradient(farthest-corner at 200px 0px, pink, #790fb6 2%, #eeba10cb );
}

.top-time{
  color: black;
  margin-top: 50px;
  margin-bottom: 3px;
  background: #ffffffb2;
  padding: 5px;
  border-radius: 10px;
  backdrop-filter: blur(1px);
}
.weather-icon-big{
  width: 100px;
}
.temprature{
  font-size: 700%;
  font-weight: lighter;
  margin-top: 2% !important;
}

.small-detail-flex{
  color: black;
  background: white;
  column-gap: 6% !important;
  position: absolute;
  top: 110%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px lightgray;
}

.small-detail-box{
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.small-detail-box  i{
color: #8f10c2;
font-size: 130%;
margin-bottom: 5px;
}

.small-detail-text{
  font-size: 100%;
  margin: 0;
  margin-bottom: 5px;
}

@media screen and (max-width:768px) {

  .city {
    top: 10%;
    right: 45%;
  }
  .quick-weather-top {
    top: 12% !important;
  }
}

@media screen and (max-width:425px) {

  .city {
    right: 41% !important;
  }
  .small-detail-flex {
    padding: 10px;
    min-width: 60vh;
    justify-content: space-around !important;
  }

  .small-detail-box {
    width: auto;
  }

}

@media screen and (max-width:375px) {
  .city {
    right: 39% !important;
  }
  .small-detail-flex {
    padding: 10px;
    min-width: 55vh;
  }
}

@media screen and (max-width:320px) {
  .small-detail-flex {
    padding: 10px;
    min-width: 50vh;
  }
}
