.quick-weather-top{
  border-radius: 30px !important;
}
.weather-icon-big{
  width: 100px;
}
.temprature{
  font-size: 350%;
  font-weight: lighter;
}

.small-detail-flex{
  column-gap: 6% !important;
  /* border: 1px solid red; */
}

.small-detail-box{
  /* min-width: 100px; */
  width: 120px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.small-detail-box  i{
color: #00000096;
}

.small-detail-text{
  font-size: 100%;
  margin: 0;
}

@media screen and (max-width:425px) {
  .quick-weather-top {
   border-radius: 8px !important;
  }
  .small-detail-flex {
    /* column-gap: 2% !important; */
    width: 100%;
  }


  .small-detail-box {
    width: auto;
    column-gap: 5px;
  }

}
