.quick-weather-top{
  color: white;
  border-radius: 24% !important;
  min-width: 220px;
  height: 180px;
  padding: 10px 5px 10px 5px;
  margin: auto;
  position: relative;
  top: 10%;
  background: radial-gradient(farthest-corner at 200px 0px, pink, #790fb6 2%, #eeba10cb );
}

.quick-ul{
  padding: 0;
  list-style-type: none;
  margin-top: -6px;
}

.quick-ul li{
  display: flex;
  justify-content: center;
  align-items: center !important;
  padding: 0;
}

.city-li{
  margin-bottom: 40px;
}
.city{
  color: black;
}
.date-li{
  margin-bottom: 15px;
}
.icon-li{
  margin-top: -60px;
}
.top-time{
  color: black;
  background: #ffffffb2;
  padding: 5px;
  border-radius: 10px;
  backdrop-filter: blur(1px);
}
.weather-icon-big{
  width: 130px;
  height: inherit;
}
.temprature{
  font-size: 600%;
  font-weight: lighter;
}

.small-detail-flex{
  color: black;
  background: white;
  column-gap: 6% !important;
  position: absolute;
  top: 115%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px lightgray;
}

.small-detail-box{
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.small-detail-box  i{
color: #8f10c2;
font-size: 130%;
margin-bottom: 5px;
}

.small-detail-text{
  font-size: 100%;
  margin: 0;
  margin-bottom: 5px;
}

@media screen and (max-width:768px) {

  .quick-weather-top {
    top: 19% !important;
  }

  .city {
    z-index: inherit;
  }
  
  .quick-ul {
    margin-top: 30px;
  }
  .city-li {
    margin-bottom: 10px;
  }

  .date-li {
    margin-bottom: 15px;
  }

  .icon-li {
    margin-top: -60px;
  }

  .small-detail-flex {
    top: 115%;
  }
}

@media screen and (max-width:425px) {
  .small-detail-flex {
    padding: 10px;
    min-width: 100%;
    justify-content: space-around !important;
  }

  .small-detail-box {
    width: auto;
  }

}

@media screen and (max-width:375px) {
  .small-detail-flex {
    padding: 10px;
    width: 150%;
    column-gap: 13px;
  }
}

@media screen and (max-width:320px) {
  .small-detail-flex {
    padding: 10px;
    width: 135%;
  }
}

@media screen and (max-width:300px) {
  .small-detail-flex {
    padding: 10px;
    width: 120%;
  }
}

