/* body {
  font-family: Montserrat, sans-serif;
}

.navbar-brand {
  width: 48px;
  height: 48px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
} */
.btn{
  color: white;
  border-radius:6px !important;
  background: #2980b9;
}

@media screen and (max-width:768px){
  .navbar{
    padding: 3px !important;
  }
  .form-group {
    width: 60% !important;
  }
}

@media screen and (max-width: 425px) {
  .form-group {
    width: 100% !important;
  }
}