.sticky-top{
  background: #f3faff;
}
.btn{
  color: white;
  border-radius:6px !important;
  background: #790fb6c9;
}

@media screen and (max-width:768px){
  .navbar{
    padding: 3px !important;
  }
  .form-group {
    width: 60% !important;
  }
}

@media screen and (max-width: 425px) {
  .form-group {
    width: 100% !important;
  }
}