/* You can add global styles to this file, and also import other style files */

*{
transition: all 0.3s;
}
body {
  /* background: linear-gradient(to right, #157fb1, #09b1e4 60%); */
  /* background:#1a2136; */
  font-family: 'Roboto',
  sans-serif;
  background-color: #2980b9;
  background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%),
  linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%),
  linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
  linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
  background-repeat: no-repeat;
  height:100vh;
  padding-bottom: 30px;
}

.weather-icon-big{
-webkit-animation: big-icon 1s infinite alternate-reverse ;
animation: big-icon 1.5s infinite alternate-reverse;
}

img.weather-icon {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 2s infinite alternate;
}

img.icon-mover1 {
  -webkit-animation: mover 2s infinite alternate-reverse;
  animation: mover1 2s 1s infinite alternate-reverse;
}


/* img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
} */


@-webkit-keyframes big-icon {
  0% {
    transform: translateY(0);
    transform: translateX(-10px);
  }

  100% {
    transform: translateY(-10px);
    transform: translateX(0px);
  }
}

@keyframes big-icon {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes mover1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}