/* You can add global styles to this file, and also import other style files */

*{
transition: all 0.3s;
}
body {
  /* background: linear-gradient(to right, #157fb1, #09b1e4 60%); */
  /* background:#1a2136; */
  font-family: 'Roboto',
  sans-serif;
  background-color: #2980b9;
  background: linear-gradient(215deg, #71b073 29.9%, #2776aa 80%),
  linear-gradient(304deg, rgba(255, 101, 53, 0.4) 24.9%, #aa2743 91%),
  linear-gradient(10deg, #b1c9d8 19.9%, #2776aa 50%),
  linear-gradient(145deg, #f4df26 15.9%, #ff1b9a 40%);
  background-repeat: no-repeat;
  height: 100vh;
}