.cords-weather-con{
  width: 40%;
}
.future-weather-con {
  width: 50%;
}

@media screen and (max-width:768px){
  .cords-weather-con {
    width: 80%;
  }

  .future-weather-con {
    width: 80%;
  }
}

@media screen and (max-width:375px) {
  .cords-weather-con {
    width: 90%;
  }

  .future-weather-con {
    width: 90%;
  }
}

@media screen and (max-width:320px) {
  .cords-weather-con {
    width: 95%;
  }

  .future-weather-con {
    width: 100%;
  }
}