
.overlay{
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000 !important;
}

.spinner-border{
  border: 10px dotted #2980b9;
  padding: 5px;
  width: 50px;
  height: 50px;
}
.cords-weather-con{
  width: 100%;
  height: 330px;
  padding: 20px;
  background: linear-gradient(to bottom, #f3faff ,#790fb621);
}
.future-weather-con {
  width: 50%;
  position: relative;
  position: relative;
  margin-top: 5% !important;
  margin-bottom: 0 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px){
  .cords-weather-con {
    width: 100%;
  }

  .future-weather-con {
    width: 100%;
  }
}
@media screen and (max-width:425px) {
  .cords-weather-con {
    height: 370px;
  }
.future-weather-con {
  margin-top: 15% !important;
}
}