<app-nav-bar></app-nav-bar>
<!-- <div class="jumbotron mt-0 d-flex justify-content-center align-items-center"> -->

<!-- <div class="d-flex justify-content-center align-items-center overlay" #layered>
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div> -->
<div class="m-0 mt-2 d-flex flex-column align-items-center justify-content-between" *ngIf='!loc' id='search'>
  <!-- <h1 class="lead m-0">Enter location to find weather info.</h1> -->
  <div class="cords-weather-con">
    <app-cords-weather></app-cords-weather>
  </div>
  <div class="jumbotron mt-2 p-0 future-weather-con">
    <app-future-weather></app-future-weather>
  </div>
</div>

<div class="mt-4 d-flex justify-content-center" *ngIf='loc'>
  <div label="Current Weather">
    <app-current-weather></app-current-weather>
  </div>
</div>

<!-- </div> -->
<!-- <div class="bg-dark text-white">
  <p class="text-center p-4 m-0">Footer Content</p>
</div> -->
