<div *ngIf='resultFound()' class="weather-body-flex d-flex justify-content-between">
  <div class="jumbotron p-4 m-0 bg-white d-flex flex-column justify-content-between align-items-around col-7 weather-left
    shadow-sm">
    <!-- <a class="navbar-brand" href="#">Weathermate.io</a> -->
    <div class="jumbotron d-flex justify-content-end p-3">
      <!-- <img class="img-fluid ballon-img" src="assets/images/air-balloon.png" alt=""> -->
      <img class="weather-icon-big ballon-img"
        src="https://openweathermap.org/img/w/{{currentWeather.weather && currentWeather.weather[0].icon}}.png">
    </div>
    <div class="d-flex justify-content-start align-items-center city-flex">

      <h1 class="mx-4 temprature">{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup></h1>
      <div>
        <h4 class="mb-0" *ngIf='resultFound()'>{{currentWeather.name}}</h4>
        <span class="small">{{currentWeather.dt*1000 | date:'medium'}}</span>
      </div>
    </div>
  </div>
  <div class="jumbotron p-4 m-0 border col-5 weather-right shadow-sm">
    <table class="table p-0 stripped">
      <tbody>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-thermometer-full"></i></span> Maximum Temperature:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup></h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-thermometer-half"></i></span> Minimum Temperature:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup></h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-cloud"></i></span> Clouds:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.clouds?.all}}%</h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-tint"></i></span> Humidity:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.main?.humidity}}%</h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-arrow-down"></i></span> Pressure:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.main?.pressure}}mb</h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-sun-o"></i><i class="fa fa-caret-up"></i></span> Sunrise:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.sys?.sunrise*1000 | date:'medium'}}
            </h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-sun-o"></i><i class="fa fa-caret-down"></i></span> Sunset:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.sys?.sunset*1000 | date:'medium'}}
            </h6>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="small m-0"> <span><i class="fa fa-eye"></i></span> Visibility:</h6>
          </td>
          <td>
            <h6 class="weather-info m-0"> {{currentWeather.visibility}}m</h6>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf='!resultFound()'>
  <h1 class="center">{{msg || 'Failed to get weather.'}}</h1>
</div>
