<div class="weather-body-flex mt-5 d-flex justify-content-between">
  <div class="jumbotron p-4 m-0 bg-light d-flex flex-column justify-content-between align-items-around col-7">
    <a class="navbar-brand" href="#">Weather.io [beta]</a>
    <div class="d-flex justify-content-start align-items-center">

      <h1 class="mx-4 temprature">{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h1>
      <div>
        <h4 class="mb-0" *ngIf='resultFound()'>{{currentWeather.name}}</h4>
        <span class="small">Lorem, ipsum
          dolor.</span>
      </div>
    </div>
  </div>
  <div class="jumbotron p-4 m-0 bg-secondary col-5">
    <table *ngIf='resultFound()'>
      <tbody>
        <tr>
          <td>
            <h5>Maximum Temperature:</h5>
          </td>
          <td>
            <h5>{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Minimum Temperature:</h5>
          </td>
          <td>
            <h5>{{currentWeather.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup>C</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Clouds:</h5>
          </td>
          <td>
            <h5>{{currentWeather.clouds?.all}}%</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Humidity</h5>
          </td>
          <td>
            <h5>{{currentWeather.main?.humidity}}%</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Pressure</h5>
          </td>
          <td>
            <h5>{{currentWeather.main?.pressure}}mb</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Sunrise</h5>
          </td>
          <td>
            <h5>{{currentWeather.sys?.sunrise*1000 | date:'long'}}</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Sunset</h5>
          </td>
          <td>
            <h5>{{currentWeather.sys?.sunset*1000 | date:'long'}}</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h5>Visibility</h5>
          </td>
          <td>
            <h5>{{currentWeather.visibility}}m</h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf='!resultFound()'>
  <h1 class="center">{{msg || 'Failed to get weather.'}}</h1>
</div>
